<div class="shop-order-success-container">
  <div *ngIf="paymentSucceeded===true" class="thank-you-container">
    <fa-icon [icon]="faCheckCircle" size="3x" style="color:limegreen" class=" mt-3 mb-3"></fa-icon>
    <h3>Vielen Dank für Ihre Bestellung!</h3>

    <p>Sie erhalten in Kürze eine e-Mail mit der Bestellbestätigung und der Rechnung</p>
    <div class="card mb-3" style="width: 32rem">
      <div class="card-body">
        <strong>Ihre Bestellung:</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let product of products">
          <div class="d-flex justify-content-between">
            <span>{{ product.cartItemQuantity + ' x ' + product.name + ' mit MwSt.'}}</span>
            <span>{{(product.price * product.taxRate.calculationFactor).toFixed(2)}}</span>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between" *ngIf="promotion">
          <span >Gutscheincode ({{promotion.code}}) </span>
          <span>-{{promotion.discount}} €</span>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span><strong>Gesamtpreis mit Mwst.</strong></span>
            <span><strong>{{this.getTotalPriceWithPromotion().toFixed(2)}}</strong></span>
          </div>
        </li>
      </ul>
    </div>

    <button class="btn btn-primary" (click)="goToHome()">Zurück zur Startseite</button>
  </div>
  <div *ngIf="paymentSucceeded===false" class="payment-failure">
    <fa-icon [icon]="faTimesCircle" size="3x" style="color:red" class=" mt-3 mb-3"></fa-icon>
    <h3>Beim Bezahlungsvorgang ist ein Problem aufgetreten!</h3>
    <p>Bitte versuchen Sie es nochmal</p>
  </div>

</div>
