.availability {
  font-size: 0.8em;
}

.in-stock {
  color: #2ecc71;
}

.locked {
  color: #e74c3c;
}

.category {
  font-size: 0.8em;
}

.zoom {
  padding: 10px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.05);
}

ul > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
