<div class="card mb-4 rounded-lg zoom shadow-lg" style="cursor: pointer;">
  <img *ngIf="product.picture != null" class="card-img-top" src="{{getImageSource(product)}}" width="125px"
       height="200px"
       alt="produkt">
  <object *ngIf="product.picture == null" class="mx-auto" data="assets/no_image_available.svg" width="125"
          height="200"></object>
  <div class="card-body">
    <div class="d-flex flex-column justify-content-between">
      <h6 class="card-title">{{product.name}}</h6>
      <span
        class="card-subtitle text-muted category">{{product.category ? product.category.name : 'Ohne Kategorie'}}</span>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <span
        class="card-text price">€ {{(this.product.taxRate.calculationFactor * this.product.price).toFixed(2)}}</span>
      <!-- Possibilities: In stock, Unavailable, Available until ...-->
      <span class="card-text availability"
            [class.in-stock]="!product.locked"
            [class.locked]="product.locked"
            [class.expires]="product.hasExpiration">{{product.availabilityText}}</span>
    </div>
  </div>
</div>
