<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row" *ngIf="orderExists">
  <div class="col-sm-2 font-weight-bolder">
    Kunde:
  </div>
  <div class="col-sm-2">
    {{customer.name}}
  </div>
  <div class="col-sm-1 font-weight-bolder">
    Adresse:
  </div>
  <div class="col-sm-2">
    {{address}}
  </div>
  <div class="col-sm-2 font-weight-bolder">
    Bestellnummer:
  </div>
  <div class="col-sm-1">
    {{detailedInvoice.orderNumber}}
  </div>
</div>
<div class="row">
  <div class="col-sm-2 font-weight-bolder">
    Rechnungsnummer:
  </div>
  <div class="col-sm-2">
    {{detailedInvoice.invoiceNumber}}
  </div>
  <div class="col-sm-1 font-weight-bolder">
    Datum:
  </div>
  <div class="col-sm-2">
    {{detailedInvoice.date.split("T", 1)}}
  </div>
  <div class="col-sm-2 font-weight-bolder">
    Betrag:
  </div>
  <div class="col-sm-2">
    {{detailedInvoice.amount.toFixed(2)}} €
  </div>
</div>
<div class="row" *ngIf="orderExists&&promotionExists">
  <div class="col-sm-1 font-weight-bolder">
    Aktion:
  </div>
  <div class="col-sm-3">
    {{promotion.name}}
  </div>
  <div class="col-sm-1 font-weight-bolder">
    Rabatt:
  </div>
  <div class="col-sm-1">
    {{promotion.discount + ' €'}}
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="border rounded" style="height: 560px">
      <table class="table table-sm table-hover" data-pagination="true" data-page-list="[1,2]">
        <thead>
        <tr class="table-secondary">
          <th scope="col">Produkt</th>
          <th scope="col">Anzahl</th>
          <th scope="col">Steuer</th>
          <th scope="col">Preis/Stk.</th>
          <th scope="col">Steuerbetrag</th>
          <th scope="col">Gesamtbetrag</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of detailedInvoice.items">
          <td><span>{{item.product.name}}</span></td>
          <td><span>{{item.numberOfItems}}</span></td>
          <td><span>{{item.product.taxRate.percentage}} %</span></td>
          <td><span>{{item.product.price}} €</span></td>
          <td>
            <span>{{(((item.product.price * item.product.taxRate.calculationFactor) - item.product.price) * item.numberOfItems).toFixed(2)}}
              €</span></td>
          <td><span>{{((item.product.price * item.product.taxRate.calculationFactor) * item.numberOfItems).toFixed(2)}}
            €</span></td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <button class="btn btn-block btn-primary" type="submit" (click)="onSubmit('download')"> PDF download</button>
  </div>
  <div class="col-sm">
    <button class="btn btn-block btn-primary" type="submit" (click)="onSubmit('show')"> PDF öffnen</button>
  </div>
</div>

