<div class="operator-add-product-container">
  <div class="operator-add-product-header">
    <h3>Produkt hinzufügen</h3>
  </div>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputTitle" class="form-label">Titel</label>
      <input type="text" class="form-control" id="inputTitle" required="true">
    </div>
    <div class="col-md-6">
      <label for="inputPrice" class="form-label">Preis in €</label>
      <input type="number" class="form-control" min="0.00" max="10000.00" step="0.01" id="inputPrice" placeholder="0.00"/>
    </div>
    <div class="col-md-6">
      <label for="inputTaxRates" class="form-label">Steuersätze</label>
      <select class="custom-select"  name="tax-rates" id="inputTaxRates">
        <option value="1.10">10%</option>
        <option value="1.13">13%</option>
        <option value="1.20">20%</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputCategories" class="form-label">Kategorien</label>
      <select class="custom-select"  name="categories" id="inputCategories">
        <option value="Cat1">Cat1</option>
        <option value="Cat2">Cat2</option>
        <option value="Cat3">Cat3</option>
      </select>
    </div>
    <div class="col-md-12">
      <label for="inputDescription" class="form-label">Beschreibung</label>
      <input type="text" class="form-control"  id="inputDescription" placeholder="Beschreiben Sie ihr Produkt"/>
    </div>
  </form>
</div>
