<div>
  <div class="btn-group btn-group-toggle blocks" role="group" data-toggle="buttons" aria-label="operator selection">
    <label class="btn btn-light active ">
      <input type="radio" name="buttons" id="option1" (click)=changeView() checked>
      Top 10
    </label>
    <label class="btn btn-light">
      <input type="radio" name="buttons" id="option2" (click)=changeView()>
      Alle
    </label>
  </div>
  <div style="display: block" class="chart">
    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType">
    </canvas>
  </div>
</div>

