<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h2>Meine Daten</h2>
    <button class="btn btn-primary">
      <fa-icon class="mr-2" [icon]="faEdit"></fa-icon>
      Bearbeiten
    </button>
  </div>
  <div class="my-5">
    <div class="grid-container">
      <h6>Benutzername</h6>
      <span>logTest</span>

      <h6>E-Mail</h6>
      <span>mail@mail.com</span>

      <h6>Name</h6>
      <span>Giancarlo Buenaflor</span>

      <h6>Passwort</h6>
      <span>••••••••</span>
    </div>
  </div>
</div>
