<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-md-3">
  <a class="navbar-brand" href="#">Webshop Titel</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Startseite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products" routerLinkActive="active">Produkte</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <!-- Temporary number of items in the cart -->
      <a class="nav-link" routerLink="/cart" routerLinkActive="active">Warenkorb (2)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/account">Mein Konto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Einloggen</a>
      <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/" (click)="authService.logoutUser()">Ausloggen</a>
    </li>
  </ul>
</nav>
