<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <style>

        html {
            height: 100%;
            font-family: Arial,serif;
        }

        body {
            padding-left: 5rem;
            padding-right: 5rem;
            margin: auto;
            height: 100%;
        }

    </style>

</head>
<body>
<a href="http://localhost:4200/#/home">ShopCorner</a>
<a href="http://localhost:4200/#/account/profile"> Mein Konto</a>
<a href="http://localhost:4200/#/account/orders"> Meine Bestellungen</a>
<hr/>
<h3>Guten Tag,</h3>
Wir wollen Ihnen hiermit mitteilen, dass Ihre Bestellung bei uns Eingegangen ist.
<br/>
<br/>
Ihre Bestellung wird schnellstm&ouml;glich behandelt. M&ouml;chten Sie Ihre Bestellungen sehen oder verwalten, k&ouml;nnen sie das unter
 <a href="http://localhost:4200/#/account/orders">Meine Bestellungen</a>
 auf der unserer <a href="http://localhost:4200/#/home">Website</a>.
<hr/>
<b>Diese Sendung wird gesendet an: </b> <i>Hier wird Adresse und Name noch eingef&uuml;gt</i>
<hr/>
<h3>Bestell&uuml;bersicht</h3>
<table>
    <tbody>
    <tr>
        <td>Zwischensumme</td>
        <td><span th:text="${sum}"></span></td>
    </tr>
    <tr>
        <td>Umsatzsteuer</td>
        <td><span th:text="${tax}"></span></td>
    </tr>
    <tr>
        <td><b>Endbetrag inkl. USt.</b></td>
        <td><span th:text="${end}"></span></td>
    </tr>
    </tbody>
</table>
<hr/>
Angeh&auml;ngt finden sie Ihre Rechnung. Sie k&ouml;nnen diese auch unter <a href="http://localhost:4200/#/account/orders">Meine Bestellungen</a>
 einsehen.
<br/>
<br/>
Wir freuen uns auf Ihren n&auml;chsten Besuch!
<br/>
Ihr <a href="http://localhost:4200/#/home">ShopCorner</a> Team
<hr/>
<small>
    Sie k&ouml;nnen ihr Bestellung innerhalb eines Zeitraums von <i>'Hier Zeitraum noch einf&uuml;ge'</i> unter
    <a href="http://localhost:4200/#/account/orders">Meine Bestellungen</a> stornieren.
</small>
</body>
</html>