<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Title</title>
    <style>

        html {
            height: 100%;
        }

        body {
            padding-left: 2rem;
            padding-right: 2rem;
            margin: auto;
            height: 100%;
        }

        .money {
            padding-left: 5rem;
        }

    </style>

</head>
<body>
<a href="http://localhost:4200/#/home"><span th:utext="${shop}"></span></a>
<a href="http://localhost:4200/#/account/profile"> Mein Konto</a>
<a href="http://localhost:4200/#/account/orders"> Meine Bestellungen</a>
<hr/>
<h2>Guten Tag,</h2>
Wir wollen Ihnen hiermit mitteilen, dass Ihre Bestellung bei uns Eingegangen ist.
<br/>
<br/>
Ihre Bestellung wird schnellstm&ouml;glich behandelt. M&ouml;chten Sie Ihre Bestellungen sehen oder verwalten, k&ouml;nnen
Sie das unter
<a href="http://localhost:4200/#/account/orders">Meine Bestellungen</a>
auf unserer <a href="http://localhost:4200/#/home">Website</a>.
<hr/>
<b>Diese Bestellung wird gesendet an: </b> <span th:utext="${name}"></span>, <span th:utext="${address}"></span>
<hr/>
<h3 style="color: #041459">Bestell&uuml;bersicht</h3>
<table>
    <tbody>
    <tr>
        <td>Zwischensumme</td>
        <td class="money"><span th:text="${sum}"></span>&euro;</td>
    </tr>
    <tr>
        <td>Umsatzsteuer</td>
        <td class="money"><span th:text="${tax}"></span>&euro;</td>
    </tr>
    <tr th:if="${promotionDiscount != null}">
        <td>Gutscheincode</td>
        <td class="money"><span th:text="-${promotionDiscount}"></span>&euro;</td>
    </tr>
    <tr>
        <td>Endbetrag inkl. USt.</td>
        <td class="money"><span th:text="${end}"></span>&euro;</td>
    </tr>
    </tbody>
</table>
<hr/>
Angeh&auml;ngt finden sie Ihre Rechnung. Sie k&ouml;nnen diese auch unter <a
    href="http://localhost:4200/#/account/orders">Meine Bestellungen</a>
einsehen.
<br/>
<br/>
Wir freuen uns auf Ihren n&auml;chsten Besuch!
<br/>
Ihr <a href="http://localhost:4200/#/home"><span th:utext="${shop}"></span></a> Team
<hr/>
<small>
    Sie k&ouml;nnen ihr Bestellung innerhalb eines Zeitraums von <span th:utext="${cancel}"></span> Tagen unter
    <a href="http://localhost:4200/#/account/orders">Meine Bestellungen</a> stornieren.
</small>
</body>
</html>