<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser()">

            <div class="form-group">
              <label for="inputUsername">Benutzername</label>
              <input type="text" name="username" formControlName="username" class="form-control" id="inputUsername"
                     aria-describedby="usernameHelp" placeholder="Enter username">
              <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
                <small class="form-text text-warning" *ngIf="loginForm.controls.username.errors.required">Ihr Benutzername ist erforderlich!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" formControlName="password" class="form-control" id="password"
                     placeholder="Password">
              <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
                <small class="form-text text-warning" *ngIf="loginForm.controls.password.errors.required">Ihr Password ist erforderlich!
                </small>
                <small class="form-text text-warning" *ngIf="loginForm.controls.password.errors.minlength">Ihr Password muss mindestens 8 Zeichen lang sein!
                </small>
              </div>
            </div>

            <div class="d-flex flex-row justify-content-between">
              <button type="button" class="btn btn-link px-0" routerLink="/register">Konto registrieren</button>

              <button type="button" (click)="loginUser()" class="btn btn-success">Einloggen</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>
