<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="p-5">
      <div class="d-flex flex-row align-items-center">
        <!-- Temporary operator image -->
        <img src="https://bawue.museum-digital.de/data/bawue/resources/images/201912/200w_254450-5df294e77183f.jpg"
             alt="User Profile Image"
             class="rounded-circle" style="height: 3.5rem; width: 3.5rem;">
        <!-- Temporary operator name -->
        <span class="ml-5 font-weight-bold">Bonus Eventus</span>
      </div>
      <hr>
      <ul class="list-unstyled mt-5">
        <li class="my-2 p-2" routerLink="/operator/home" routerLinkActive="is-active">
          <span>Home</span>
        </li>
        <li class="my-2 p-2" routerLink="/operator/shop" routerLinkActive="is-active">
          <span>Shop</span>
        </li>
        <li class="my-2 p-2" routerLink="/operator/invoices" routerLinkActive="is-active">
          <span>Invoices</span>
        </li>
        <li class="my-2 p-2" routerLink="/operator/orders" routerLinkActive="is-active">
          <span>Orders</span>
        </li>
        <li class="my-2 p-2" routerLink="/operator/products" routerLinkActive="is-active">
          <span>Products</span>
        </li>
        <li class="my-2 p-2" routerLink="/operator/promotions" routerLinkActive="is-active">
          <span>Promotions</span>
        </li>
        <li class="my-2 p-2" routerLink="/operator/statistics" routerLinkActive="is-active">
          <span>Statistics</span>
        </li>
        <li class="my-2 p-2" routerLink="/operator/customers" routerLinkActive="is-active">
          <span>Customers</span>
        </li>
        <li class="my-2 p-2" routerLink="/operator/accounts" routerLinkActive="is-active">
          <span>Operator Accounts</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Main Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
