<div class="container">
  <br>
  <h2>Betreiber Konten</h2>
  <div class="btn-group btn-group-toggle blocks" role="group" data-toggle="buttons" aria-label="operator selection">
    <label class="btn btn-light btn-sm active">
      <input type="radio" name="buttons" id="option1" checked [disabled]="toggle">
      Alle
    </label>
    <label class="btn btn-light btn-sm">
      <input type="radio" name="buttons" id="option2" [disabled]="toggle">
      Gesendet
    </label>
    <label class="btn btn-light btn-sm">
      <input type="radio" name="buttons" id="option3" [disabled]="toggle">
      Storniert
    </label>
  </div>
  <div class="admin_options">
    <div>
      <button type="button" class="btn btn-sm" [ngClass]="toggle?'btn-outline-dark':'btn-outline-success'"
              (click)="toggleSide()">{{toggle ? 'Zurück' : '+ Rechnung'}}</button>
    </div>

  </div>
  <hr>
  <div>
    <div *ngIf="!toggle">
      <div>
        <p style="font-size: 10px; color: gray" *ngIf="collectionSize === 0; else not_empty">
          Keine Kund_innen gespeichert.
        </p>
        <ng-template #not_empty>
          <p style="font-size: 10px; color: gray" *ngIf="(pageSize * (page + 1)) < collectionSize; else other_content" >
            Zeigt {{1 + (pageSize * (page))}}-{{pageSize * (page + 1)}}
            von {{collectionSize}}</p>
        </ng-template>
        <ng-template #other_content>
          <p style="font-size: 10px; color: gray">Zeigt {{1 + (pageSize * (page))}}-{{collectionSize}}
            von {{collectionSize}}</p>
        </ng-template>
      </div>

      <div class="border rounded" style="height: 560px">
        <table class="table table-sm table-hover" data-pagination="true" data-page-list="[1,2]">
          <thead>
          <tr class="table-secondary">
            <th scope="col">Rechnungsnummer</th>
            <th scope="col">Datum</th>
            <th scope="col">Betrag</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let invoice of invoices">
            <td><span>{{invoice.id}}</span></td>
            <td><span>{{invoice.date}}</span></td>
            <td><span>{{invoice.amount}}</span></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between p-2">
        <button class="btn btn-dark" (click)=previousPage()>Vorherige Seite</button>
        <button class="btn btn-dark" (click)=nextPage()>Nächste Seite</button>
      </div>


    </div>
    <div *ngIf="toggle">
      <app-operator-invoice-form></app-operator-invoice-form>
    </div>
  </div>
</div>
