<div class="container">
  <br>
  <h2>Betreiber Konten</h2>
  <div class="btn-group btn-group-toggle blocks" role="group" data-toggle="buttons" aria-label="operator selection">
    <label class="btn btn-light active btn-sm">
      <input type="radio" name="buttons" id="option1" (click)=showAdmins()>
      Admins
    </label>
    <label class="btn btn-light btn-sm">
      <input type="radio" name="buttons" id="option2" (click)=showEmployees()>
      Angestellte
    </label>
  </div>
  <div class="float-right" style="margin-top: 10px;">
    <div *ngIf="selected.permissions === 'employee'; else disabled_button">
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteOperator(selected)">delete</button>
    </div>
    <ng-template #disabled_button>
      <button type="button" class="btn btn-outline-danger btn-sm" disabled>delete</button>
    </ng-template>
  </div>
  <hr>
  <div>
    <p style="font-size: 10px; color: gray" *ngIf="(pageSize * (page + 1)) < currentCollectionSize; else other_content">
      Zeigt {{1 + (pageSize * (page))}}-{{pageSize * (page + 1)}}
      von {{currentCollectionSize}}</p>
    <ng-template #other_content>
      <p style="font-size: 10px; color: gray">Zeigt {{1 + (pageSize * (page))}}-{{currentCollectionSize}}
        von {{currentCollectionSize}}</p>
    </ng-template>
  </div>

  <div class="border rounded" style="height: 560px">
    <table class="table table-sm table-hover" data-pagination="true" data-page-list="[1,2]">
      <thead>
      <tr class="table-secondary">
        <th scope="col">Name</th>
        <th scope="col">Login Name</th>
        <th scope="col">E-Mail</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let operator of operators" (click)="selected = operator">
        <ng-container *ngIf="selected===operator; else not_selected">
          <td style="background: darkgray"><span>{{operator.name}}</span></td>
          <td style="background: darkgray"><span>{{operator.loginName}}</span></td>
          <td style="background: darkgray"><span>{{operator.email}}</span></td>
        </ng-container>
        <ng-template #not_selected>
          <td><span>{{operator.name}}</span></td>
          <td><span>{{operator.loginName}}</span></td>
          <td><span>{{operator.email}}</span></td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between p-2">
    <button class="btn btn-dark" (click)=previousPage()>Vorherige Seite</button>
    <button class="btn btn-dark" (click)=nextPage()>Nächste Seite</button>
  </div>

  <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error! </strong> {{ errorMessage }}
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
