<div>
  <br>
  <h2>Betreiber Konten</h2>
  <div class="btn-group btn-group-toggle blocks" role="group" data-toggle="buttons" aria-label="operator selection">
    <label class="btn btn-light active" *ngIf="getPermission() === 'ADMIN'">
      <input type="radio" name="buttons" id="option1" (click)=showAdmins() checked>
      Admins
    </label>
    <label class="btn btn-light" *ngIf="getPermission() === 'EMPLOYEE'; else normal_button">
      <input type="radio" name="buttons" id="option2" checked>
      Angestellte
    </label>
    <ng-template #normal_button>
      <label class="btn btn-light">
        <input type="radio" name="buttons" id="option3" (click)=showEmployees()>
        Angestellte
      </label>
    </ng-template>
  </div>
  <div class="admin_options" *ngIf="getPermission() === 'ADMIN';" (click)="registerEmployee()">
    <button type="button" class="btn btn-primary">Angestellten registrieren</button>
  </div>
  <div class="admin_options">
    <div *ngIf="selected.length > 0 && getPermission() === 'ADMIN'; else disabled_delete">
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteCommit">Auswahl löschen</button>
    </div>
    <ng-template #disabled_delete>
      <span class="d-inline-block" *ngIf="getPermission() === 'ADMIN';">
        <button type="button" class="btn btn-outline-danger" disabled>Auswahl löschen</button>
      </span>
    </ng-template>
  </div>
  <div class="admin_options">
    <div *ngIf="selected.length > 0 && getPermission() === 'ADMIN'; else disabled_promote">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#promoteCommit">Zu Admin machen</button>
    </div>
    <ng-template #disabled_promote>
      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nur für Admins" *ngIf="getPermission() === 'ADMIN';">
        <button type="button" style="pointer-events: none;" class="btn btn-outline-secondary" disabled>Zu Admin machen</button>
      </span>
    </ng-template>
  </div>
  <hr>
  <div>
    <p style="font-size: 10px; color: gray" *ngIf="(pageSize * (page + 1)) < currentCollectionSize; else last_page">
      Zeigt {{1 + (pageSize * (page))}}-{{pageSize * (page + 1)}}
      von {{currentCollectionSize}}</p>
    <ng-template #last_page>
      <p style="font-size: 10px; color: gray" *ngIf="currentCollectionSize > 0; else empty">Zeigt {{1 + (pageSize * (page))}}-{{currentCollectionSize}}
        von {{currentCollectionSize}}</p>
    </ng-template>
    <ng-template #empty>
      <p style="font-size: 10px; color: gray">Keine Angestellten gespeichtert</p>
    </ng-template>
  </div>

  <div class="border rounded" style="height: 560px">
    <table class="table table-sm table-hover">
      <thead>
      <tr class="table-secondary">
        <th scope="col" class="font-weight-bold">Name</th>
        <th scope="col" class="font-weight-bold">Username</th>
        <th scope="col" class="font-weight-bold">E-Mail</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let operator of operators" (click)="selectOperator(operator)">
        <ng-container *ngIf="selected.includes(operator); else not_selected" class="selected_row">
          <td><span>{{operator.name}}</span></td>
          <td><span>{{operator.loginName}}</span></td>
          <td><span>{{operator.email}}</span></td>
        </ng-container>
        <ng-template #not_selected>
          <td><span>{{operator.name}}</span></td>
          <td><span>{{operator.loginName}}</span></td>
          <td><span>{{operator.email}}</span></td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between pt-3">
    <button class="btn btn-primary" (click)=previousPage()>Vorherige Seite</button>
    <button class="btn btn-primary" (click)=nextPage()>Nächste Seite</button>
  </div>

  <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error! </strong> {{ errorMessage }}
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal fade" id="deleteCommit" tabindex="-1" role="dialog" aria-labelledby="deleteCommitLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Löschen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Wollen sie die Konten von {{selected.length}} Angestellten löschen?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="selected=[]" data-dismiss="modal">Abbrechen</button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteOperator()" data-dismiss="modal">Löschen</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="promoteCommit" tabindex="-1" role="dialog" aria-labelledby="deleteCommitLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="promoteModalLabel">Zugriffsrechte ändern</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Wollen sie die Rechte von {{selected.length}} Angestellten zu Admin ändern?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="selected=[]" data-dismiss="modal">Abbrechen</button>
          <button type="button" class="btn btn-outline-primary" (click)="changeToAdmin()" data-dismiss="modal">Ändern</button>
        </div>
      </div>
    </div>
  </div>

</div>
