.createInvoice{
  margin-top: 1rem;
}
.btn-primary{
  background-color: blue;
  border-color: darkblue;
}

.btn-primary:hover{
  background-color: darkblue;
}
.row{
  margin-bottom: 1em;
}

.hidden{
  display:none;
  visibility: hidden;
}

.blocks .btn-light
{
  border-radius: 5px;
  margin: 10px;
  background: white;
  border: none;
  color: gray;
}
.blocks .active {
  color: black;
  background: #f2f2f2;
}
