<form class="form-inline d-flex justify-content-between" style="gap: 15px" [formGroup]="searchForm"
      (ngSubmit)="filterChanged()">
  <div class="d-flex flex-row">
    <input class="form-control search-input" type="search" formControlName="searchText" placeholder="Suche"
           aria-label="Suche">
    <button class="btn btn-primary" type="submit">Suche</button>
  </div>
  <div class="d-flex flex-row" style="gap: 15px">
    <label for="categoryFilter">
      <fa-icon class="mr-2" [icon]="faFilter"></fa-icon>
      Filtern nach Kategorien</label>
    <select class="custom-select" name="category-names" id="categoryFilter"
            (change)="filterChanged()"
            formControlName="categoryId"
    >
      <option selected value="-1">Alle</option>
      <option *ngFor="let category of this.categories" [value]="category.id">{{category.name}}</option>
    </select>
  </div>
</form>
