<div class="container mt-5">
  <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Problems!</strong> {{ errorMessage }}
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="d-flex justify-content-around">
    <img class="zoom" *ngIf="product.picture != null" src="{{getImageSource(product)}}" width="500px"
         height="400px"
         alt="produkt">
    <object class="zoom" *ngIf="product.picture == null" data="assets/no_image_available.svg" width="400"
            height="400"></object>
    <div class="custom-card p-3">
      <div class="d-flex flex-column">
        <h2>{{this.product?.name}}</h2>
        <p class="text-muted">
          {{this.product.description}}
        </p>
      </div>
      <div class="add-to-cart-footer">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-column">
            <span class="price">€ {{(this.product.taxRate.calculationFactor * this.product.price).toFixed(2)}}</span>
            <span class="text-muted small">Preisangaben inkl. USt.</span>
          </div>
          <!-- Possibilities: In stock, Unavailable -->
          <span class="availability" [class.in-stock]="!product.locked"
                [class.locked]="product.locked">{{product.locked ? 'Nicht verfügbar' : 'Auf Lager'}}</span>
        </div>
        <button class="btn btn-primary" [disabled]="product.locked" (click)="addToCart(product)">In den Einkaufswagen</button>
      </div>
    </div>
  </div>
</div>
