/* You can add global styles to this file, and also import other style files */
body {
  background-color: whitesmoke;
}

:root {
  --primary-bg-color: #2c3e50;
}

.primary-bg-white-text {
  background-color: var(--primary-bg-color);
  color: white;
}

