<button class="btn btn-primary" type="submit" (click)="addNewPromotion()" [disabled]="!promotionForm.valid">
  Speichern
</button>
<form class="row g-3" [formGroup]="promotionForm" (ngSubmit)="addNewPromotion()" id="myForm">
  <div class="col-md-6 mt-3">
    <div class="form-group required">
      <label for="name" class="form-label"><b>Name </b></label>
      <input type="text" class="form-control" id="name" name="input1"
             placeholder="Geben Sie einen Namen für ihre Aktion ein" required formControlName="name">
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="form-group required">
      <label for="discount" class="form-label"><b>Rabatt </b></label>
      <input type="number" class="form-control" id="discount" name="discount"
             placeholder="Geben Sie einen Namen für ihre Aktion ein" required formControlName="discount">
    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="form-group required">
      <label for="expirationDate" class="form-label"><b>Ablaufdatum </b></label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="expirationDate" id="expirationDate" ngbDatepicker #d="ngbDatepicker"
               formControlName="expirationDate">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="form-group required">
      <label for="time" class="form-label"><b>Ablaufzeit </b></label>
      <ngb-timepicker id="time" formControlName="time"></ngb-timepicker>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="form-group required">
      <label for="code" class="form-label"><b>Gutscheincode </b></label>
      <input type="text" class="form-control" id="code" name="code"
             placeholder="Geben Sie einen Code für ihre Aktion ein" required formControlName="code">
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="form-group required">
      <label for="minimum" class="form-label"><b>Mindestbestellwert </b></label>
      <input type="number" class="form-control" id="minimum" name="minimum"
             placeholder="Geben Sie einen Mindestbestellwert für ihre Aktion ein" required formControlName="minimum">
    </div>
  </div>
</form>
