<div class="operator-product-container">
  <div class="operator-product-header mt-3">
    <h3>Produkte</h3>
  </div>
  <div class="operator-product-body">
    <button type="button" class="btn btn-primary mb-3" (click)="addNewProduct()">Produkt hinzufügen</button>
    <div>
      <p style="font-size: 10px; color: gray">
        Zeigt {{1+(pageSize * page)}}-{{(pageSize * (page+1))}}
        von {{collectionSize}}</p>
      <ng-template #other_content>
        <p style="font-size: 10px; color: gray">Zeigt {{(1 + (pageSize * page))}}-{{collectionSize}}
          von {{collectionSize}}</p>
      </ng-template>
    </div>

    <table class="table table-hover table-sm" data-pagination="true" data-page-list="[1,2]">
      <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">MWSt</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Preis</th>
        <th scope="col">Bild</th>
      </tr>
      </thead>


      <tbody>
      <tr *ngFor="let product of products" style="cursor: pointer" (click)="goToProductDetails(product)">

        <td>{{product.name}}</td>
        <td>{{(product.taxRate?.percentage + '%') || '--'}}</td>
        <td>{{product.category?.name || '--'}}</td>
        <td>{{product.price}}</td>
        <td>
          <div *ngIf="product.picture">
            <img src="{{'data:image/png;base64,'+product.picture}}" alt="" width="100" height="100">
          </div>
        </td>
      </tr>
      </tbody>


    </table>

  </div>


</div>

