.table th { border-top: none; }
.table td { font-weight: lighter; }
.product_options {
  margin-top: 10px;
  float: right;
  margin-left: 10px;
}
.button_block:after {
  clear: both;
  content: ".";
  display: block;
  height: 10px;
  visibility: hidden;
}
.button_block {
  display: inline-block;
}
.button_block {
  display: block;
}


