<div *ngIf="errorOccurred()" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ getErrorMessage() }}
  <button type="button" (click)="resetState()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <br>
  <div class="product-header">
    <div class="d-flex justify-content-between">
      <h2>Produkte</h2>
      <div *ngIf="getPermission() === 'ADMIN'" class="btn-toolbar" style="gap: 10px">
        <div>
          <button type="button" class="btn btn-primary" (click)="addNewProduct()">
            <fa-icon class="mr-2" [icon]="faPlusCircle"></fa-icon>
            Produkt hinzufügen
          </button>
        </div>
        <div>
          <div *ngIf="selectedProducts.length >0; else not_selected">
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteCommit">
              <fa-icon class="mr-2" [icon]="faMinusCircle"></fa-icon>
              Auswahl löschen
            </button>
          </div>
          <ng-template #not_selected>
          <span>
            <button type="button" class="btn btn-outline-danger" disabled>
              <fa-icon class="mr-2" [icon]="faMinusCircle"></fa-icon>
              Auswahl löschen
            </button>
          </span>
          </ng-template>
        </div>
        <div class="button_block"></div>
      </div>
    </div>
    <app-base-product-search-bar (errorOccurred)="error = $event.error; errorMessage = $event.errorMessage"
                                 (resetAndFetchProducts)="resetAndFetchProducts($event)"></app-base-product-search-bar>
  </div>

  <hr>

  <div *ngIf="pageableProducts.collectionSize > 0 else no_products">
    <div>
      <h6 class="text-muted small">
        Zeigt {{pageableProducts.itemsIndexStart()}}-{{pageableProducts.itemsIndexEnd()}}
        von {{pageableProducts.collectionSize}}</h6>
    </div>
  </div>
  <ng-template #no_products>
    <div>
      <h6 class="text-muted small">
        Keine Produkte gefunden
      </h6>
    </div>
  </ng-template>

  <div class="border rounded mt-4" style="height: 560px;">
    <table class="table table-hover table-sm" data-pagination="true" data-page-list="[1,2]">
      <thead class="table-secondary">
      <tr>
        <th scope="col">Ausgewählt</th>
        <th scope="col">Name</th>
        <th scope="col">MWSt</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Preis</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of getPaginatedProducts(); let i = index" style="cursor: pointer"
          (click)="goToProductDetails(product, $event)">
        <td>
          <div class="custom-control custom-checkbox">
            <input #checkboxes type="checkbox" class="custom-control-input" id="customCheck-{{i}}"
                   (click)="clickedCheckMark($event, i)">
            <label class="custom-control-label" for="customCheck-{{i}}"></label>
          </div>
        </td>
        <td>{{product.name}}</td>
        <td>{{(product.taxRate?.percentage + '%') || '--'}}</td>
        <td>{{product.category?.name || '--'}}</td>
        <td>{{product.price}} €</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between pt-3">
    <button type="button" class="btn btn-primary" (click)=pageableProducts.previousPage()>Vorherige Seite</button>
    <button type="button" class="btn btn-primary" (click)=pageableProducts.nextPage()>Nächste Seite</button>
  </div>

  <div class="modal fade" id="deleteCommit" tabindex="-1" role="dialog" aria-labelledby="deleteCommitLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Löschen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Wollen sie die Produkte von {{selectedProducts.length}} Produkten löschen?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="uncheckSelectedProducts()"
                  data-dismiss="modal">Abbrechen
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteProducts()" data-dismiss="modal">Löschen
          </button>
        </div>
      </div>
    </div>
  </div>


