.table th {
  border-top: none;
}

.table td {
  font-weight: lighter;
}

.button_block:after {
  clear: both;
  content: ".";
  display: block;
  height: 10px;
  visibility: hidden;
}

.product-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button_block {
  display: inline-block;
}

.button_block {
  display: block;
}


