.table th { border-top: none; }
.table th { font-weight: lighter; }
.table td { font-weight: lighter; }
.blocks .btn-light
{
  border-radius: 5px;
  margin: 10px;
  background: white;
  border: none;
  color: gray;
}
.blocks .active {
  color: black;
  background: #f2f2f2;
}
.table th {
  border-top: none;
}

.table td {
  font-weight: lighter;
}
