<div class="container mt-5">
  <h2>Meine Bestellungen</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 rounded-lg shadow-sm">
        <div class="card-header">
          <div class="order-header-information d-flex justify-content-between ">
            <div class="order-numer">
              <p class="font-weight-bolder">Bestellungs. Nr.</p>
              <p>123456</p>
            </div>
            <div class="order-date">
              <p class="font-weight-bolder">Bestellungsdatum:</p>
              <p>21.6.2021</div>
            <div class="order-total-price">
              <p class="font-weight-bolder">Gesamtpreis (inkl. MwSt.): </p>
              <p>122.45 EUR</p>
            </div>
            <div class="order-invoice">
              <p class="font-weight-bolder">Rechnung: </p>
              <p>Download</p>
            </div>
          </div>
        </div>
        <div class="card-body">Order 1 - Products</div>
      </div>
    </div>
  </div>
</div>
