<main role="main" class="mx-5">
  <div class="album py-5">
    <div class="mb-3">
      <h3>
        Bestseller
      </h3>
      <h6 class="text-muted" *ngIf="collectionSize === 0; else not_empty">
        Keine Produkte gespeichert.
      </h6>
      <ng-template #not_empty>
        <h6 class="text-muted">Zeigt {{1}}-{{collectionSize}}
          von {{collectionSize}}</h6>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-5 col-lg-2" *ngFor="let product of products">
        <app-base-shop-product-item [product]="product"></app-base-shop-product-item>
      </div>
    </div>
  </div>
</main>
